@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed:wght@400;700&display=swap");

/* add font: Roboto Condensed Regular */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

/* add font: Roboto Condensed Bold */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
}

/* add font: Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}
body {
  margin: 0;
  padding: 0;
}

:root {
  /* BRANDED FONT FAMILY */
  --font-topic: "Roboto Condensed", sans-serif;
  --font-text: "Inter", sans-serif;

  /* BRANDED FONT SIZE */
  --text-size-h1: 55px;
  --text-size-h2: 28px;
  --text-size-button: 33px;
  --text-size-footer: 22px;
  --text-size-navbar: 30px;
  --text-size-running-text: 16px;

  /* RULES FOR PADDING & MARGINS */

  --main-padding: 29px;
  --main-padding-negative: calc(0px - var(--main-padding));
  --main-padding-double: calc(2 * var(--main-padding));
  --button-padding: 9px 24px;

  /* RULES FOR LAYOUT HEIGHT BY OS */
  --navbar-height: 40px;
  --footer-height: 55px;
  --button-text-height: 38px;
  --layout-height: calc(100vh - var(--navbar-height) - var(--footer-height));

  /* TRANSITIONS */
  --transition-basic: 500ms;

  /* BRANDED FONT COLORS */
  --color-menu-bg: #658cf6;
  --color-text: #5758d4;
  --color-navbar: #9a57d4;
  --color-menu-bg2: #8e6ceb;
  --color-pink: #db65f6;
}
